

<div class="container-fludid">
    <h2>Add Student</h2>
    <label>name</label>
    <input class="form-control" type="text" [(ngModel)]="student.name">
    <label>location</label>
    <input class="form-control" type="text" [(ngModel)]="student.location">
    <label>city</label>
    <input class="form-control" type="text" [(ngModel)]="student.city">
    <label>salarly</label>
    <input class="form-control" type="text" [(ngModel)]="student.salarly">

    <button class="btn btn-primary" type="button" (click)="addStudent()">Register student</button>



</div>